body {

  margin:0;

  font-family: Arial, sans-serif;

  background:#f4f6f8;

}



.layout {

  display:flex;

  min-height:100vh;

}



.sidebar {

  width:240px;

  background:#111827;

  color:white;

  padding:20px;

}



.sidebar h2 {

  margin-bottom:30px;

}



.sidebar a {

  display:block;

  color:white;

  text-decoration:none;

  padding:12px;

  margin-bottom:8px;

  border-radius:8px;

}



.sidebar a:hover {

  background:#374151;

}



.content {

  flex:1;

  padding:30px;

}



.card {

  background:white;

  padding:20px;

  border-radius:12px;

  margin-bottom:20px;

  box-shadow:0 3px 10px rgba(0,0,0,0.08);

}



.dashboard {

  display:grid;

  grid-template-columns:repeat(4,1fr);

  gap:20px;

}



.stat {

  background:white;

  padding:20px;

  border-radius:12px;

  text-align:center;

}



.stat h3 {

  font-size:32px;

  margin:0;

}



button {

  background:#111827;

  color:white;

  border:none;

  padding:12px 20px;

  border-radius:8px;

  cursor:pointer;

}



button:hover {

  opacity:0.85;

}



input, select {

  display:block;

  width:300px;

  padding:10px;

  margin:10px 0;

  border-radius:6px;

  border:1px solid #ccc;

}
